<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>join our community</title>
</head>
<body>
<div>
    <h>  sign in </h>

</div>
<br>
 <input type="text" placeholder="user name">user name</input>
            <input type="text" placeholder="password"> password</input>
  <button class="btn btn-primary" type="button">enter
     </button>
<br>
< href="forget password?"> forget password?</input>
</br>
<br>
<link data-href-template="facebook" >facebook</link>
<link data-href-template="gmail" >g mail</link>
<hr></hr>








<h>NEWS LETTER</h><br>
to get the latest updates please put  your email id bellow</br>
<div>
<input type="email" accept="application/vnd.omads-email+xml"  >

<button class="btn btn-outline-success" type="submit">submit</button>
</div>
</body>
</html>